button.primary {
  background-color: var(--background-brand-primary);
  box-shadow: (--shadow-primary);
}

button.primary:hover,
button.primary:focus {
  background-color: var(--background-brand-primary-emphasize);
}

button.secondary {
  color: var(--text-primary);
  background-color: var(--background-primary);
  border: 0.5px solid var(--border-primary);
  box-shadow: var(--shadow-primary);
}

button.secondary:hover {
  border: 1px solid var(--border-primary);
  background-color: var(--background-primary-hover);
}

button.secondary:focus {
  background-color: var(--background-primary-hover);
}

button.tertiary {
  color: var(--text-brand);
  background-color: var(--background-primary);
}

button.tertiary:hover,
button.tertiary:focus {
  background-color: var(--background-primary-hover);
}

button.link-color {
  color: var(--text-brand);
}

button.link-color:hover,
button.link-color:focus {
  color: var(--background-brand-primary-emphasize);
}

button.link-grey {
  color: var(--text-secondary);
}

button.link-grey:hover,
button.link-grey:focus {
  color: var(--text-primary);
}

button.destructive {
  background-color: var(--background-error);
}

button.destructive:hover {
  background-color: var(--background-error-emphasize);
}

button.destructive:focus {
  box-shadow: var(--shadow-focus-destructive);
  background-color: var(--background-error-emphasize);
}

/* shared focus box shadow */
button.primary:focus,
button.secondary:focus,
button.tertiary:focus,
button.link-color:focus,
button.link-grey:focus {
  box-shadow: var(--shadow-focus);
}

/* disabled button */
button.primary:disabled,
button.secondary:disabled,
button.tertiary:disabled,
button.destructive:disabled,
button.link-color:disabled,
button.link-grey:disabled {
  color: var(--text-disabled);
  background-color: var(--background-disabled);
  cursor: default;
  border: none;
}

button.medium {
  padding: 10px 14px;
}

button.large {
  font-size: var(--font-size-large);
  line-height: 24px;
  padding: 10px 16px;
}

button.xl {
  font-size: var(--font-size-large);
  line-height: 24px;
  padding: 12px 20px;
}

button.xxl {
  font-size: var(--font-size-xxl);
  line-height: 28px;
  padding: 16px 24px;
}

button.medium.icon-only {
  padding: 10px;
}

button.large.icon-only {
  padding: 12px;
}

button.xl.icon-only {
  padding: 14px;
}

button.xxl.icon-only {
  padding: 16px;
}

button.link-color,
button.link-grey {
  padding: 0;
}
